#lab-inspector {

	display: block;
	position: relative;

	background-color: #eee;
	border-left: 1px solid rgba(#000,0.1);

	header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10050;
		a.close {
			display: block;
			position: absolute;
			top: 0;
			right: 0px;
			height: 40px;
			padding: 12px;
			overflow: hidden;
			font-size: 26px;
			line-height: 0.5;
			text-align: center;
			color: rgba(#777,0.4);
			&:hover {
				color: #333;
			}
		}
	}
	
}
