@media print {

	#lab-inspector {

		> header {
			display: none !important;
		}

		.inspector--section {
			> article {
				border-color: transparent !important;
			}
			&:before {
				display: none !important;
			}
			&[empty] {
				display: none !important;
			}
		}

		h1,h2,h3,h4,h5,h6,p,a,li,label {
			color: #000 !important;
		}

	}

}
