#lab-editor {

	&.lab-mockup {

		display: block;

		&.lab-mockup-grid {
			$grid-color: #000;
			$grid-size: 20px;
			$grid-offset-h: -61px;
			$grid-offset-v: -21px;
			background-color: #fff;
			background-image: linear-gradient(rgba($grid-color,.1) 1px, transparent 1px),
			linear-gradient(90deg, rgba($grid-color,.1) 1px, transparent 1px),
			linear-gradient(rgba($grid-color,.1) 1px, transparent 1px),
			linear-gradient(90deg, rgba($grid-color,.1) 1px, transparent 1px);
			background-size: ($grid-size * 5) ($grid-size * 5), ($grid-size * 5) ($grid-size * 5), $grid-size $grid-size, $grid-size $grid-size;
			background-position: $grid-offset-h $grid-offset-v, $grid-offset-h $grid-offset-v, $grid-offset-h $grid-offset-v, $grid-offset-h $grid-offset-v;
		}

	}

	header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10050;
		a.close,
		a.edit {
			display: block;
			position: absolute;
			top: 0;
			right: 0px;
			height: 40px;
			padding: 12px;
			overflow: hidden;
			font-size: 26px;
			line-height: 0.5;
			text-align: center;
			color: rgba(#777,0.4);
			&:hover {
				color: #333;
			}
		}
		a.edit {
			font-size: 14px;
			top: 2px;
			left: 2px;
			right: auto;
		}
	}

}
