@import '_variables';

$grid-gutter: 0.75rem;

.block--grid {

	&.row,.row {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		box-sizing: border-box;
		padding: $grid-gutter;
	}

	.column {
		padding: $grid-gutter;
		box-sizing: border-box;
		flex: 0 0 100%;
		&.w8,&.c12 { flex: 0 0 calc(100% / 12); }
		&.w9,&.c11 { flex: 0 0 calc(100% / 11); }
		&.w10,&.c10 { flex: 0 0 calc(100% / 10); }
		&.w11,&.c9 { flex: 0 0 calc(100% / 9); }
		&.w12,&.c8 { flex: 0 0 calc(100% / 8); }
		&.w14,&.c7 { flex: 0 0 calc(100% / 7); }
		&.w17,&.c6 { flex: 0 0 calc(100% / 6); }
		&.w25,&.c5 { flex: 0 0 calc(100% / 5); }
		&.w20,&.c4 { flex: 0 0 calc(100% / 4); }
		&.w33,&.c3 { flex: 0 0 calc(100% / 3); }
		&.w50,&.c2 { flex: 0 0 calc(100% / 2); }
	}

	&.grow,.grow {
		&.row .column,.row .column,&.column,.column {
			flex-grow: 1;
		}
	}

	&.collapse,.collapse {
		&.row,.row,&.column,.column {
			padding: 0;
		}
	}

	// ---

	&.align-center,.align-center {
		&.row,.row {
			align-items: center;
			justify-content: center;
		}
		&.column,.column {
			align-self: center;
			> * {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.align-middle,.align-middle {
		&.row,.row {
			align-items: center;
		}
		&.column,.column {
			align-self: center;
		}
	}

}
