
.push-05 { display: block; padding-top: 5px; }
.push-1 { display: block; padding-top: 10px; }
.push-2 { display: block; padding-top: 20px; }
.push-3 { display: block; padding-top: 30px; }
.push-4 { display: block; padding-top: 40px; }
.push-5 { display: block; padding-top: 50px; }
.push-6 { display: block; padding-top: 60px; }
.push-7 { display: block; padding-top: 70px; }
.push-8 { display: block; padding-top: 80px; }
.push-9 { display: block; padding-top: 90px; }
.push-10 { display: block; padding-top: 100px; }
