#menu {

	ul.main {
		> li {
			font-family: $font-headline;
			> a {
				opacity: 0.4;
				transition: opacity 0.2s, color 0.1s linear;
			}
			> a:after {
				content: "";
				position: absolute;
				height: 2px;
				background-color: #333;
				bottom: -1px;
				left: 12px;
				right: 12px;
				transform: scaleX(0);
				transform-origin: 0 50%;
				transition: transform 0.1s ease-out;
			}
			&:hover {
				> a {
					opacity: 1;
					color: #333;
					transition: opacity 0.2s, color 0.2s linear;
				}
				> a:after {
					transform: scaleX(1);
					transition: transform 0.2s ease-out;
				}
			}
			&.current,
			&.current-child {
				> a {
					opacity: 1;
					font-weight: normal;
					color: #333;
				}
				> a:after {
					transform: scaleX(1);
				}
			}
			&.button {
				opacity: 1;
				border-color: #333;
				transition: all 0.1s linear;
				> a {
					color: #333;
					opacity: 1;
					transition: all 0.1s linear;
					&:after {
						display: none;
					}
				}
				&:hover {
					background-color: #333;
					border-color: #333;
					color: #fff;
					transition: all 0.1s linear;
					> a {
						color: inherit;
						transition: all 0.1s linear;
					}
				}
			}
		}
	}

	ul.search {
		> li {
			> a {
				opacity: 0.4;
			}
			> a:hover {
				opacity: 1;
				color: $color-primary;
			}
		}
	}

	ul.mobile {
		> a:hover {
			color: $color-primary;
		}
		span {
			font-family: $font-headline;
		}
	}

	ul.mobile-menu {
		li.mobile-search {
			input {
				background-color: #333 !important;
				color: #fff !important;
				&::placeholder {
					color: rgba(#fff,0.5) !important;
				}
			}
			a {
				color: #fff !important;
			}
		}
		li.mobile-menu-divider {
			width: calc(100% - 30px);
			margin-left: 15px;
			margin-right: 15px;
			margin-top: -2px;
			border-top: 1px solid rgba(#fff,0.4);
		}
		li.mobile-menu-item {
			font-family: $font-headline;
			font-weight: bold;
			&.current {
				a {
					padding-bottom: 17px;
				}
				a:after {
					content: "";
					position: absolute;
					height: 3px;
					background-color: #fff;
					top: 44px;
					left: 30px;
					right: 30px;
					width: calc(100% - 60px);
				}
			}
			&.button {
				margin-top: 15px;
				border-color: #fff;
				opacity: 1;
				a {
					opacity: 1;
					padding-top: 10px;
					padding-bottom: 12px;
				}
				&:hover {
					background-color: #fff;
					color: $color-primary;
				}
			}
		}
	}

}

// ---

#footer {
	.social {
		a:hover i {
			color: $color-primary;
			transition: color 0.2s linear;
		}
	}
}
