
html {
	font-family: $font-body;
	font-size: 16px; // 1rem;
	line-height: 1.4;
}

a {
	color: $color-link;
	text-decoration: underline;
	&:hover {
		color: #000;
		text-decoration: underline;
	}
}

// ---

.block--typography {

	display: block;
	padding: 1.5rem;
	padding-top: 0;
	margin: 0 auto;

	// ---

	max-width: $limit-text; // 54rem;

	&.full-width {
		max-width: none;
	}

	// ---

	h1,h2,h3,h4,h5,h6,p,ul,ol,li,blockquote,code,pre,small,label {
		color: #333;
		margin: 0;
		padding: 0.5rem 0;
	}

	// ---

	h1 {
		font-family: $font-hero;
		font-weight: $font-hero-weight;
		font-style: $font-hero-style;
		letter-spacing: $font-hero-spacing;
	}

	h2,h3,h4 {
		font-family: $font-headline;
		font-weight: $font-headline-weight;
		font-style: $font-headline-style;
		letter-spacing: $font-headline-spacing;
	}

	h5,h6 {
		font-family: $font-headline;
		font-weight: bold;
		font-style: normal;
		letter-spacing: $font-headline-spacing;
	}

	p,li {
		font-family: $font-body;
		font-weight: $font-body-weight;
		font-style: normal;
		letter-spacing: $font-body-spacing;
	}

	.lead {
		font-family: $font-lead;
		font-weight: $font-lead-weight;
		font-style: $font-lead-style;
		letter-spacing: $font-lead-spacing;
	}

	blockquote {
		font-family: $font-body;
		font-weight: bold;
		font-style: italic;
		letter-spacing: $font-body-spacing;
	}

	pre, code {
		font-family: $font-mono;
		font-weight: $font-mono-weight;
		font-style: normal;
		letter-spacing: 0;
	}

	// ---

	hr {
		display: block;
		height: 0px;
		margin: 1.0rem 0;
		border: none;
		border-top: 1px solid $color-theme;
	}

	ul,ol {
		padding: 0;
	}

	li {
		position: relative;
		list-style: none;
		margin-left: 1.7rem;
		padding-left: 0rem;
		padding-right: 3rem;
		line-height: 1.3;
		&:before {
			content: "\2022";
			display: inline-block;
			font-size: 1.8rem;
			line-height: 0.75;
			position: absolute;
			left: -1.7rem;
			color: $color-theme;
		}
	}

	h1 {
		font-size: 2.6rem;
		line-height: 1.15;
		margin-left: -2px;
		padding-bottom: 1.0rem;
	}

	h2 {
		font-size: 1.6rem;
		line-height: 1.15;
		margin-left: -2px;
	}

	h3,h4 {
		font-size: 1.2rem;
		line-height: 1.3;
		margin-left: -1px;
	}

	h5,h6 {
		font-size: 1.1rem;
		line-height: 1.3;
	}

	p {
		font-size: 1rem;
		line-height: 1.4;
	}

	.lead {
		font-size: 1.3rem;
		line-height: 1.3;
	}

	.small {
		font-size: 0.75rem;
		line-height: 1.4;
		color: #999;
	}

	.dateline,.byline,.tagline {
		color: $color-theme;
		line-height: 1;
	}

	blockquote {
		padding: 0;
		margin: 0.5rem 0;
		padding-left: 1.5rem;
		padding-right: 3rem;
		margin-left: 1px;
		border-left: 2px solid $color-theme;
		> * {
			display: inline;
			font-style: inherit;
			font-weight: inherit;
			color: inherit;
		}
		&:before {
			content: '';
			font-style: italic;
		}
		&:after {
			content: '';
			font-style: italic;
		}
	}

	code, pre {
		font-size: 0.9rem;
		line-height: 1.4;
		white-space: pre-line;
		padding: 1rem 1.2rem;
		background-color: #f0f0f0;
		border-left: 2px solid $color-theme;
		margin: 1.0rem 0;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0.8rem 0;
		margin-bottom: 1.0rem;
		+ img {
			margin-top: 1.8rem;
		}
	}

	p > img {
		margin-top: 1.4rem;
		margin-bottom: 0.4rem;
		+ img {
			margin-top: 1.8rem;
		}
	}

	// ---

	h1,h2,h3,h4,.lead {
		word-break: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@media (min-width: 768px) {
		h1,h2,h3,h4,.lead {
			max-width: 90%;
		}
	}

	// ---

	center,.align-center,[style*=": center;"] {
		text-align: center;
		max-width: none;
		h1,h2,h3,h4,.lead {
			max-width: none;
		}
	}

	.align-right,[style*=": right;"] {
		text-align: right;
		max-width: none;
		h1,h2,h3,h4,.lead {
			max-width: none;
		}
	}

	// ---

	&.responsive {

		&.animated {
			h1,h2,h3,h4,h5,h6,p,li {
				transition: font-size 0.4s $ease-out, line-height 0.2s linear;
			}
		}

		@media (min-width: 512px) and (min-height: 512px) {
			h1 {
				font-size: 3.4rem;
				margin-left: -3px;
			}
			h2 {
				font-size: 2.6rem;
			}
			h3,h4 {
				font-size: 1.6rem;
			}
			p,.small {
				line-height: 1.5;
			}
			.lead {
				font-size: 1.4rem;
			}
			li {
				line-height: 1.4;
			}
		}

		@media (min-width: 768px) and (min-height: 768px) {
			h1 {
				font-size: 4.8rem;
				line-height: 1.05;
				margin-left: -4px;
			}
			h2 {
				font-size: 3.0rem;
			}
			h3,h4 {
				font-size: 2.0rem;
			}
			p,.small {
				line-height: 1.6;
			}
			.lead {
				font-size: 1.6rem;
				line-height: 1.4;
			}
		}

	}

}
